<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_TEMP" value="./logs" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />


    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
        <property name="JSON_FILE" value="${LOG_TEMP}/spring.log.json}"/>

        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <include resource="json-appender.xml" />

        <root level="INFO">
            <appender-ref ref="JSON" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="!(prod|test)">
        <!-- 선언 순서가 중요함, 인클루드를 불러오기 전에 프로퍼티를 설정해줘야 인클루드 된 xml 파일에서 제대로 프로퍼티를 읽을 수 있다. -->
        <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
        <property name="JSON_FILE" value="${LOG_TEMP}/spring.log.json}"/>

        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <include resource="json-appender.xml" />

        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <logger name="org.apache.coyote.http11.Http11InputBuffer" level="DEBUG"/>
</configuration>