<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_TEMP" value="./logs" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <!-- 파일명을 설정하면, 파일에 로깅이 수행되지 않더라도 해당 파일을 생성한다. -->
    <property name="JSON_FILE" value="${LOG_TEMP}/spring.log.json}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="json-appender.xml" />

    <logger name="org.apache.coyote.http11.Http11InputBuffer" level="DEBUG"/>

    <springProfile name="!prod">

<!--        <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>-->
<!--        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="JSON" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>