name: Test with Gradle
on:
  pull-request:
    branches: dev
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # test
      - name: Build with Gradle
        run: ./gradlew test

      - name: if fail
        uses: actions/github-script@v5
        if: failure()
        with:
          script: |
           github.rest.issues.createComment({
              ...context.repo,
              issue_number: context.issue.number,
              body:"test failed : 코드를 다시 확인해주세요."
            })